@import "tailwindcss";

body {
    background: #000000;
    color: #F207A8;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    @apply p-4 flex items-center justify-between border-b-2 mb-8;
}

header div {
    @apply flex items-center gap-x-4 grow;
}

header a {
    @apply text-2xl border-2 border-current px-6 py-0 rounded-full hover:bg-[#F207A8] hover:text-black transition-colors w-[12rem] md:w-[10rem];
}

header div a:last-child {
    @apply ml-auto text-right transition-colors w-[12rem] md:w-[10rem] bg-[#F207A8] text-black hover:bg-black hover:text-[#F207A8];
}

main {
    @apply m-16 mt-12 pl-8 pr-8;
}

main h1 {
    @apply text-7xl pb-4 border-b-2;
}

main h2 {
    @apply text-5xl pb-4;
}

main h3 {
    @apply text-lg pb-4;
}

main p {
    @apply text-2xl pb-4 block;
}

main > p:first-of-type {
    @apply mt-6;
}

.result-header {
    @apply flex justify-between items-start border-b-2;
}

.result-header h1 {
    @apply border-0;
}

.project-card {
    @apply p-4 pb-2 border-2 mb-4;
}

.project-card h3 {
    @apply text-right mt-[2px];
}

.project-card-header {
    @apply flex justify-between items-start mb-2;
}

.video-wrapper {
    @apply relative w-full pt-[56.25%] mb-4 border-2 border-t-0;
}

iframe {
    @apply absolute w-full h-full top-0 left-0;
}

.result {
    @apply p-4 pb-2 border-2 mb-4;
}

.code-wrapper {
    @apply text-[1rem];
}

.contact {
    @apply text-xl flex flex-col mb-4;
}

@media (max-width: 800px) {
    main h1 {
        @apply text-6xl pb-4 border-b-2;
    }

    main h2 {
        @apply text-4xl pb-2;
    }

    main h3 {
        @apply text-sm pb-4;
    }

    main p {
        @apply text-xl pb-4 block;
    }

    main {
        @apply m-auto;
    }

    header, .result-header {
        @apply flex-1/2;
    }

    header div {
        @apply grid gap-4 m-0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    header div a:last-child {
        @apply text-left w-full;
    }

    header a {
        @apply w-full text-xl;
    }

    .code-wrapper {
        @apply text-[0.9rem];
    }

    .result-header a {
        @apply text-xl;
    }
}

@media (max-width: 480px) {
    .project-card-header {
        @apply block;
    }

    .project-card h3 {
        @apply text-left pb-1;
    }

    header div {
        @apply grid gap-2 m-0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    header a {
        @apply text-base;
    }

    main {
        @apply mb-6;
    }

    main h1 {
        @apply text-5xl pb-4 border-b-2;
    }

    main h2 {
        @apply text-3xl pb-1;
    }

    main h3 {
        @apply text-xs pb-4;
    }

    main p {
        @apply text-sm pb-4 block;
    }

    footer p {
        @apply text-base pb-0;
    }

    .result div {
        @apply m-0 p-0;
    }

    .code-wrapper {
        @apply text-[0.75rem];
    }

    .result-header {
        @apply flex-col;
    }

    .result-header h1 {
        @apply pb-2;
    }

    .result-header a {
        @apply text-base w-[10rem] text-left ml-0 mb-4;
    }

    main > p:first-of-type {
        @apply mt-4;
    }

    .contact {
        @apply text-base mb-2;
    }
}